.orderCard {
    padding: 10px;
    margin-bottom:2rem;
    background-color: white;
    .order-info {
        padding: 10px;
        .pdct-info {
            margin-bottom: 10px;
            display: flex;
            padding-bottom: 10px;
            .order-image {
                height: 100px;
                width: auto;
            }
            .order-text {
                padding-left: 10px;
            }
        }
    }
    .order-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}