@import './app.scss';

.orderInfoPanel-wrapper {
   &.orderActive {
       .order-overlayer {
            display: block;
       }
       .orderInfoPanel {
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
       }
   } 

   .order-overlayer {
       display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 101;
   }

   .orderInfoPanel {
        background-color: white;
        position: fixed;
        width: 35rem;
        height: 25rem;    
        // transform: translate(-50%,-50%);
        // top: 50%;
        // left: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(40rem);
        padding: 30px;
        box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        z-index: 102;
        .orderInfoPanel-head {
            text-align: right;
            .close {
                cursor: pointer;
            }
        }
   }
}