@import './app.scss';

.panel-wrapper {
    &.active {
        .over-layer {
            display: block;
        }
        .panel {
            transform: translateX(0);
        }
    }

    .over-layer {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 99;
    }

    .panel {
        background-color: white;
        position: fixed;
        width:24rem;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 30px;
        box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        transform: translateX(24rem);
        z-index: 999;
        .panel-head {
            text-align: right;
            .close {
                cursor: pointer;
            }
        }
    }
}

.button {
    font-weight: 500;
}
